body{
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}
form{
    background-color: #ffffff;
    position: absolute;
    width: 320px;
    height: 290px;
    padding: 10px 5px 20px 5px;
    margin: 25vh 800px;
    border-radius: 10px;
    box-shadow: 5px 6px 6px -7px;
}
input[type='text'], input[type='password']{
    display: block;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border: 1.5px solid rgb(224, 224, 224);
    width: 280px ;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', serif;
    font-size: 15px;
}
button{
    display: block;
    border: none;
    background-color: #1877f2;
    color: white;
    margin: 10px 20px;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.f-pws{
    display: block;
    width: 200px;
    margin: auto;
    color:#1877f2;
    padding-left: 80px;
    top: 1px;
    font-family: "Segoe UI", serif;
    font-weight: 400;
    text-decoration: none;
}
.line{
    border-top: 1px solid #000000;
    opacity: 0.2;
}
.bnt2{
    margin: 0px 0px 0px 60px;
    width: 200px;
    font-size: 14px;
    background-color: #42b72a;
    text-align: center;
}
.sub {
    width: 300px;
    position: absolute;
    top: 550px;
    left: 840px;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI", Arial, serif;
    font-size: 15px;

}

.left {
    position: absolute;
    top: 330px;
    left: 180px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI", Arial, serif;
    font-size: 1.7rem;
}

.left-top {
    position: absolute;
    width: 100%;
    top: 250px;
    left: 180px;
    color: rgb(51, 102, 255);
    font-size: 3rem;

}

.f-container{
    width: 550px;
    margin: 30px;
    font-family: "Segoe UI", Roboto, "San Francisco", serif;
}


.link-page{
    text-decoration: none;
}